build/
test
aclocal.m4
m4/
Makefile
.deps/
.libs/
autom4te.cache/
config.guess
config.log
tests/*.o
tests/*.trs
tests/*.log
Makefile.in
test-suite.log
config.status
configure
*.o
*.lo
*.la
src/.dirstamp
tests/.dirstamp
config.sub
