[submodule "src/libintervalxt/intervalxt/external/spimpl"]
	path = libintervalxt/intervalxt/external/spimpl
	url = https://github.com/oliora/samples.git
[submodule "libintervalxt/test/external/cereal"]
	path = libintervalxt/test/external/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "libintervalxt/test/external/catch2"]
	path = libintervalxt/test/external/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "libintervalxt/src/intervalxt/external/gmpxll"]
	path = libintervalxt/intervalxt/external/gmpxxll
	url = https://github.com/flatsurf/gmpxxll.git
[submodule "libintervalxt/src/external/rx-ranges"]
	path = libintervalxt/src/external/rx-ranges
	url = https://github.com/simonask/rx-ranges
[submodule "recipe/snippets"]
	path = recipe/snippets
	url = https://github.com/flatsurf/conda-recipes.git
