name: Test
on:
  push: { branches: [ "master" ] }
  pull_request: { branches: [ "master" ] }

concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.on }}
    strategy:
      matrix:
        include:
        - { task: "test-libintervalxt", environment: "libintervalxt", on: "ubuntu-24.04" }
        - { task: "test-libintervalxt", environment: "libintervalxt", on: "macos-13" }
        - { task: "test-libintervalxt-valgrind", environment: "dev", on: "ubuntu-24.04" }
        - { task: "test-pyintervalxt", environment: "pyintervalxt-python39", on: "ubuntu-24.04" }
        - { task: "test-pyintervalxt", environment: "pyintervalxt-python39", on: "macos-13" }
        - { task: "test-pyintervalxt", environment: "pyintervalxt-python310", on: "ubuntu-24.04" }
        - { task: "test-pyintervalxt", environment: "pyintervalxt-python310", on: "macos-13" }
        - { task: "test-pyintervalxt", environment: "pyintervalxt-python311", on: "ubuntu-24.04" }
        - { task: "test-pyintervalxt", environment: "pyintervalxt-python311", on: "macos-13" }
        - { task: "test-pyintervalxt", environment: "pyintervalxt-python312", on: "ubuntu-24.04" }
        - { task: "test-pyintervalxt", environment: "pyintervalxt-python312", on: "macos-13" }
        - { task: "test-pyintervalxt-valgrind", environment: "dev", on: "ubuntu-24.04" }
        - { task: "distcheck", environment: "dev", on: "ubuntu-24.04" }
        - { task: "distcheck", environment: "dev", on: "macos-13" }
    steps:
      - uses: actions/checkout@v5
        with: { submodules: recursive }
      - uses: prefix-dev/setup-pixi@v0.9.1
        with: { pixi-version: v0.42.1 }
      - name: install valgrind dependencies
        run: |
          sudo apt update
          sudo apt install -y libc6-dbg
        if: endsWith(matrix.task || '', 'valgrind')
      - name: run ${{ matrix.task }}
        run: pixi run -e ${{ matrix.environment }} ${{ matrix.task }}
      - uses: flatsurf/actions/show-logs@main
        if: ${{ always() }}
